@media screen and (min-width: 1158px) {
    .container {
      max-width: 1158px;
    }

    .header-logo-second {
    
    }
    .address{
        margin-left: auto;
    }
    .address-list{
        display: flex;
      flex-direction: row;
    }
    
    .address-link{
        display: block;
        font-size: 16px;
        line-height: 1.5;
    }
 
    /**------------------HERO------------------*/
    .section-hero {
        padding-top: 188px;
        padding-bottom: 188px;
        align-items: center;
        margin: 0 auto;
    
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
          ),
          url(../images/logo/people-destop.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        -webkit-animation: kenburns-top 2000ms ease-out reverse both;
        animation: kenburns-top 2000ms ease-out reverse both;}
        
        @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/logo/people-destop-2x.jpg);
  }
}

        /**-----------OUR PRINCIPLES AND PRIORITIES-----------*/

        .section-principles {
            padding-top: 120px;
            padding-bottom: 120px;
        }
        .principles-container {
            display: flex;
        }
        .principles-list {
            display: flex;
            gap: 24px;
        }

        .program-logo{
            display: flex;
        }
        
        .principles-logo {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 264px;
            height: 112px;
            background: var(--white-color);
            border-radius: 4px;
            margin-bottom: 8px;
        }
        
        .page-subtitle {
            margin-bottom: 8px;
        
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            letter-spacing: 0.02em;
            color: var(--title-color);
        }
        
        .principles-text {
            width: 264px;
            line-height: var(--tipical-line-height);
            letter-spacing: 0.02em;
        }
        .principles-item {
            width: calc((100% - 72px) / 4);
        }  

        /**----------------OUR PRODUCTS----------------*/
        .product-section {
            padding-bottom: 120px;
            display: flex;
        }

        .product-list {
            display: flex;
            gap: 24px;
        }

        .product-item {
            width: calc((100% - 48px) / 3);
        }
    /**-------------------OUR TEAM-------------------*/

    .team-container {
        padding: 0 15px;
    }
    .team-list {
        display: flex;
        gap: 24px;
    }
    .team-item {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        border-radius: 0px 0px 4px 4px;
        background-color: #ffffff;
        width: calc((100% - 72px) / 4);
    }
/**----------------index html Customers--------------**/

.box-customers {
    padding: 0 15px;
  }

  .customers-item {
    width: calc((100% - 80px) / 6);
  }
/**---------------FOOTER---------------*/

.container-foot {
    padding: 0 15px;
    justify-content: space-between;
    width: 1128px;

    background: var(--title-color);
  }
  /**-----------------OUR GALLERY-----------------*/
  .section-portfoloi {
    padding-top: 100px;
    padding-bottom: 120px;
  }

.btn-list{
    margin-bottom: 72px;

}

.gallery-item {
    width: calc((100% - 48px) / 3);
  }
}